.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.250); 
    background-color: white;

    z-index: 1000;
}

.header__logo img {
    width: 80px;
    outline: none;
}

.header__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    align-self: stretch;
}

.header__nav > a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;

    text-transform: capitalize;
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 1.06rem;

    transition: all .2s ease;
}

.header__nav > a:hover {
    background-color: rgb(90, 90, 90);
    color: white;
}

@media (max-width: 880px) {
    .header {
        position: absolute;
    }
    
    .header__nav {
        align-self: none;
    }

    .header__nav > a {
        padding: 20px;
    }
}